$editor-header-height: 2.35rem;
$panel-min-height: 300px;

@mixin themify($themes: $themes) {
    @each $theme, $map in $themes {
      .theme-#{$theme} & {
        $theme-map: () !global;
  
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), "#{$key}");
          $theme-map: map-merge(
            $theme-map,
            (
              $key: $value,
            )
          ) !global;
        }
  
        @content;
        $theme-map: null !global;
      }
    }
  }
  
  @function themed($key) {
    @return map-get($theme-map, $key);
  }

  $themes: (
    dark: (
        primaryBackground: #020824,
        primaryFontColor: #fff,
        standardBoxShadow: none,
        standardBorder: solid 1px #363636
    ),
    light: (
        primaryBackground: #f0f1f2,
        primaryFontColor: #1f1e20,
        // standardBoxShadow: -4px 4px 12px 5px rgb(0 0 0 / 16%),
        standardBoxShadow: none,
        standardBorder: none
    )
  );